@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.header {
  grid-area: header;
  background-color: #0069a4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header .titulo {
  color: whitesmoke;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  width: 100wh;
}
.header .logo img {
  border-radius: 35%;
}
.header .titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.barraNavegacion ul {
  background-color: #0069a4;
  padding-top: 25px;
  padding-left: 10px;
}
.barraNavegacion ul li {
  display: inline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  text-decoration: none;
}
.barraNavegacion ul li a {
  text-decoration: none;
  color: whitesmoke;
  background-color: #0047a4;
  border: rgba(0, 0, 0, 0.507) solid 1px;
  border-radius: 20px;
  padding: 5px;
  display: inline-block;
}
.barraNavegacion ul li a:hover {
  color: black;
  font-style: inherit;
  background-color:rgb(0, 153, 255);
  transition: 0.5s;
  transform: skewX(-5deg) translateY(2px);
}

main {
  min-height: calc(100vh - 105px - 110px);
}

section {
  /* border: black solid 1px;  */
  border-radius: 30px;
  background-color: rgba(245, 245, 245, 0.55);
  padding: 15px;
  margin: 5px;
}

h2 {
  
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}

.mainInicio .establecimiento {
  width: auto;
  max-height: 100%;
  grid-area: establecimiento;
  
}
.mainInicio .establecimiento div {
  height: 100%;
  width: 100%;
}
.mainInicio .establecimiento div img {
  height: 100%;
  width: 100%;
  min-width: 220px;
  min-height: 360px;
  object-fit: cover;
  max-height: 65vh;
}
.mainInicio .productosYServicios {
  grid-area: productosYServicios;
  
}
.mainInicio .productosYServicios .miniFotosPyS div {
  display:inline-flex;
  border-radius: 20px;
  flex-direction: column;
  
}
.mainInicio .productosYServicios .miniFotosPyS div div {
  margin-top: 150px;
  height: 30px;
  width: 75%;
  background-color: blue;
  align-self: center;
  border-radius: 20px;
  border: 3px solid;
  border-color: red;
  
}
.mainInicio .productosYServicios .miniFotosPyS div div p {
  text-align: center;
  color: rgb(245, 245, 245);
  text-shadow: 20px;
  font-size: medium;
  
}
.mainInicio .productosYServicios .miniatura, .mainInicio .productosYServicios #Accesorios, .mainInicio .productosYServicios #ProtesisOculares, .mainInicio .productosYServicios #Soluciones, .mainInicio .productosYServicios #Lupas, .mainInicio .productosYServicios #Binoculares, .mainInicio .productosYServicios #LentesDeContacto, .mainInicio .productosYServicios #LentesRecetados, .mainInicio .productosYServicios #LentesDeSol {
  width: 310px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border: 2px solid;
  border-color:black;
  

  
}
.mainInicio .productosYServicios .miniatura:hover, .mainInicio .productosYServicios #Accesorios:hover, .mainInicio .productosYServicios #ProtesisOculares:hover, .mainInicio .productosYServicios #Soluciones:hover, .mainInicio .productosYServicios #Lupas:hover, .mainInicio .productosYServicios #Binoculares:hover, .mainInicio .productosYServicios #LentesDeContacto:hover, .mainInicio .productosYServicios #LentesRecetados:hover, .mainInicio .productosYServicios #LentesDeSol:hover {
  filter: grayscale(50%);
}
.mainInicio .productosYServicios #LentesDeSol {
  background-image: url("imagenes/DPC4302B.jpeg");
}
.mainInicio .productosYServicios #LentesRecetados {
  background-image: url("imagenes/violeta2.jpeg");
}
.mainInicio .productosYServicios #LentesDeContacto {
  background-image: url("imagenes/R.jpeg");
}

.mainInicio .productosYServicios #Soluciones {
  background-image: url("imagenes/reparamos.jpeg");
}

.mainInicio .productosYServicios #Accesorios {
  background-image: url("imagenes/accesorios.jpg");
}
.mainInicio .productosYServicios .miniFotosPyS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}


.promociones {
  grid-area: promociones;
}
.promociones .imgdesc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.promociones .imgdesc .descuentos {
  margin: 25px;
  align-items: center;
  /* border: 1px solid blue; */
  display: flex;
  flex-wrap: nowrap;
  height: 225px;
  width: 300px;
}
/* .descuentos1{
  width: 15;
  height: 250;
} */

.promociones .imgdesc .descuentos img {
  height: 70%;
  width: 70%;
  object-fit: cover; 
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #0069a4;
  text-align: center;
  padding-top: 25px;
  margin-top: 10px;
}
.footer a {
  padding: 10px;
}
.footer p {
  padding-top: 8px;
  margin-bottom: 0px;
}
.footer i {
  display: inline-block;
  font-size: xx-large;
  height: auto;
  color: whitesmoke;
  text-align: center;
}
.footer i:hover {
  color: black;
  transform: translateY(-5px);
  transition: 0.75s;
}


@media only screen and (min-width: 769px) {
  .inicio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px auto 125px;
    grid-template-areas: "header" "mainInicio" "footer";
  }
  .mainInicio {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "establecimiento promociones" "productosYServicios promociones";
  }
  .accesorios {
    flex-direction: column;
  }
  .productos article {
    overflow: auto;
  }
}
/* nosotros */
.nosotros{
  height: 750px;
  background: url(imagenes/consultorio1.jpg)no-repeat center;
  background-size:cover;
  position:relative;
  /* opacity: 0.5; */
  
}
.miniaturas {
    
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.miniaturas .fotosMiniatura img {
  width: 580px;
  height: 400px;
  min-height: 120px;
}
.somos{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  color:white ;
}
.subQuienesSomos{
  
  font-size: 45px;
  color:black;
}
/* productos */
.jumbotron-h2, .productos h2 {
  padding-bottom: 2.5rem;
  padding-top: 1rem;
  background-color: rgba(5, 5, 5, 0.452);
  color: whitesmoke;
}

.jumbotron-h3, .productos h3 {
  text-align: left;
  font-family: Geneva, Tahoma, sans-serif;
  padding-left: 20px;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  background-color:rgba(0, 0, 255, 0.767);
  color: whitesmoke;
}

body {
  overflow-x: hidden;
}

.productos {
  display: block;
}
.productos h2 {
  font-size: xx-large;
}
.productos h3 {
  font-size: x-large;
}
.productos article {
  width: 100%;
}
.productos .lentesDeSol, .productos .lentesRecetados, .productos .accesorios {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}
.productos .lentesDeSol div, .productos .lentesRecetados div, .productos .accesorios div {
  width: 260px;
  height: 320px;
  margin: 10px;
  border-radius: 5px;
  border: blue solid 2px;
  background-color: rgba(245, 245, 245, 0.45);
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 6px;
  
}
.productos .lentesDeSol div .miniaturaProducto, .productos .lentesRecetados div .miniaturaProducto, .productos .accesorios div .miniaturaProducto {
  width: 230px;
  height: 150px;
  margin: 0px;
  padding: 0px;
}
.productos .lentesDeSol div .miniaturaProducto img, .productos .lentesRecetados div .miniaturaProducto img, .productos .accesorios div .miniaturaProducto img {
  height: 100%;
  width: 100%;
  margin: 0px;
  object-fit: cover;
}
.productos .lentesDeSol {
  grid-area: lentesDeSol;
}
.productos .lentesDeRecetados {
  grid-area: lentesRecetados;
}
.productos .accesorios {
  grid-area: accesorios;
}

#titulo_productos {
  grid-area: titulo_productos;
}

#titulo_lentesRecetados {
  grid-area: titulo_lentesRecetados;
}

#titulo_accesorios {
  grid-area: titulo_accesorios;
}
.dondeEncontrarnos .row {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;  
}
.servicios section {
  height: 750px;  
  background: url(imagenes/fondoServicios.jpg)no-repeat center;
  padding-left: 30px;
  background-size: cover;
  /* background-color: rgba(245, 245, 245, 0.55); */
}
.servis{
  list-style-position: inside;
  list-style-type:inherit;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.miniaturaProducto{
  
    transition: 0.5s;
    object-fit: cover;
}
.miniaturaProducto:hover{
  transform:scale(1.4);
}
.pieProductos{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: blue;
}

